.login-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.login-container .bc-image-container {
  height: 100%;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-container .login-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  background: #2b2d42;
  background: rgba(43, 45, 66, 0.9);
  width: 100%;
  height: 100%;
}

.login-container .login-form-container .login-form {
  height: 600px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.767);
  padding: 20px 30px;
  border-radius: 25px;
  gap: 15px;
}

.login-container .login-form-container .login-form .login-form-title {
  text-align: center;
}

.login-container .login-form-container .login-form .login-form-title h2 {
  font-size: 50px;
  margin: 0 auto;
  width: 80%;
}

.login-container .login-form-container .login-form label {
  font-size: 25px;
  font-weight: bolder;
}

.login-container .login-form-container .login-form input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  text-indent: 20px;
  padding: 20px 0;
  -webkit-box-shadow: 1px 1px 10px #00000044;
          box-shadow: 1px 1px 10px #00000044;
}

.login-container .login-form-container .login-form input::-webkit-input-placeholder {
  color: #cfcfcf;
}

.login-container .login-form-container .login-form input:-ms-input-placeholder {
  color: #cfcfcf;
}

.login-container .login-form-container .login-form input::-ms-input-placeholder {
  color: #cfcfcf;
}

.login-container .login-form-container .login-form input::placeholder {
  color: #cfcfcf;
}

.login-container .login-form-container .login-form #login-btn {
  background-color: #acf19b;
  margin-top: 60px;
  outline: none;
  background-color: #acf19b;
  color: #2b2d42;
  font-weight: bolder;
}

.login-container .login-form-container .login-form #login-btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #87eb6e;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

body,
html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=App.css.map */