@import "./sass/config";
@import "./sass/login";
@import "./sass/profile";
@import "./sass/menu";
@import "./sass/section";
@import "./sass/task";
@import "./sass/popup";
@import "./sass/sectionPopup";
@import "./sass/editTestCasesForm";
@import "./sass/taskPopup";

* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

body,
html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#info-btn {
  position: absolute;
  right: 0;
  border-radius: 50px;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  background-color: $main-dark-blue;
  color: #fff;
  cursor: pointer;
  margin-right: 40px;
}

.children {
  min-height: 100vh;
  width: calc(100% - 250px);
  margin-left: 250px; // This should be same value of the wight of the menu
  padding: 40px;
  background-color: #f8f8f8;
}
